/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 150px;
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
  }
  
  .form-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }
  
  .form-header {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
  }
  
  .form-input,
  .form-textarea,
  .form-file {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
  }
  
  .form-input:focus,
  .form-textarea:focus,
  .form-file:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0px 0px 8px rgba(0, 123, 255, 0.3);
  }
  
  .form-textarea {
    resize: vertical;
  }
  
  .form-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-btn:hover {
    background-color: #0056b3;
  }
  
  .form-error,
  .form-success {
    font-size: 14px;
    margin-top: 8px;
  }
  
  .form-error {
    color: #dc3545;
  }
  
  .form-success {
    color: #28a745;
  }
  
  .login-message{
    text-align: center;
  }  